{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<br/>
<h1>Upload CSV file to User Code list {{ ccodeid }}</h1>
<form action="/ccodecsv" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% if results %} 
        <ul>
            {% for action, count in results.items %}
                <li>{{count}} row{{ count|pluralize }} {{action}}</li>
            {% endfor %}
        </ul>
        <br/>&nbsp;
        <input type="submit" name="ok" value="{% trans 'OK' %}" />

    {% else %}
        <p>&nbsp;Select a CSV file from your file system.</p>
        <ul>
            <li>Should have 11 columns: ccodeid, leftcode, rightcode, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8</li>
            <li>Column 1 (ccodeid) must be "{{ ccodeid }}", others will be <b>ignored</b>.</li>
            <li>Column 2 (leftcode) must be unique within this list.</li>
            <li>Rows with a new unique leftcode and non-blank rightcode are <b>inserted</b>.</li>
            <li>Rows with changed rightcode or attr1-attr8 are <b>updated</b>.</li>
            <li>Rows with blank rightcode are <b>deleted</b>.</li>
        </ul>
        <br/>
        <table>
            {{ form }}
        </table>
        <br/>&nbsp;
        <input class="button" type="submit" name="cancel" value="{% trans 'Cancel' %}" />
        <input class="button" type="submit" name="submit" value="{% trans 'Read' %}" />
        <input type="hidden" name="ccodeid" value="{{ ccodeid }}" />
    {% endif %}
</form>
{% endblock %}
