<div id="menu">
{% if user.is_authenticated %}
	<ul>
		<a {% if not bots_touchscreen %} href="/home" {% endif %} >Home</a>
		<li><a href="/home/">Home{% if not bots_touchscreen %} *{% endif %}</a></li>
		<li><a href="https://botsdocs.readthedocs.io/en/latest/guide-for-botsmonitor/index.html">Help</a></li>
		<li><a href="/logout/">Log out</a></li>
		<li><a href="/password_change/">Change password</a></li>
	</ul>
	<ul>
		<a {% if not bots_touchscreen %} href="/incoming/?lastrun=1" {% endif %} >Last run</a>
		<li><a href="/incoming/?lastrun=1" >Incoming{% if not bots_touchscreen %} *{% endif %}</a></li>
		<li><a href="/document/?lastrun=1;status=320" >Document-in</a></li>
		<li><a href="/document/?lastrun=1;status=330" >Document-out</a></li>
		<li><a href="/outgoing/?lastrun=1" >Outgoing</a></li>
		<li><a href="/processes/?lastrun=1" >Process Errors</a></li>
	</ul>
	<ul>
		<a {% if not bots_touchscreen %} href="/reports/?lastrun=0" {% endif %} >All runs</a>
		<li><a href="/reports/?lastrun=0" >Report (per run){% if not bots_touchscreen %} *{% endif %}</a></li>
		<li><a href="/incoming/?lastrun=0" >Incoming</a></li>
		<li><a href="/document/?lastrun=0;status=320" >Document-in</a></li>
		<li><a href="/document/?lastrun=0;status=330" >Document-out</a></li>
		<li><a href="/outgoing/?lastrun=0" >Outgoing</a></li>
		<li><a href="/confirm/?lastrun=0" >Confirmations</a></li>
		<li><a href="/processes/?lastrun=0" >Process Errors</a></li>
	</ul>
	<ul>
		<a {% if not bots_touchscreen %} href="/document/?select" {% endif %} >Select</a>
		<li><a href="/reports/?select" >Reports (per run)</a></li>
		<li><a href="/incoming/?select" >Incoming</a></li>
		<li><a href="/document/?select" >Document{% if not bots_touchscreen %} *{% endif %}</a></li>
		<li><a href="/outgoing/?select" >Outgoing</a></li>
		<li><a href="/processes/?select" >Process Errors</a></li>
		<li><a href="/confirm/?select" >Confirmations</a></li>
	</ul>
	{% if user.is_staff %}
	<ul>
		<a>Config</a>
		{% if perms.bots.change_routes %}<li><a href="/admin/bots/routes/" >Routes</a></li>{% endif %}
		{% if perms.bots.change_channel %}<li><a href="/admin/bots/channel/" >Channels</a></li>{% endif %}
		{% if perms.bots.change_translate %}<li><a href="/admin/bots/translate/" >Translations</a></li>{% endif %}
		{% if perms.bots.change_partner %}<li><a href="/admin/bots/partner/" >Partners</a></li>{% endif %}
		{% if perms.bots.change_partner %}<li><a href="/admin/bots/partnergroep/" >Partnergroups</a></li>{% endif %}
		{% if perms.bots.change_confirmrule %}<li><a href="/admin/bots/confirmrule/" >Confirmrules</a></li>{% endif %}
		<li><hr/></li>
		{% if perms.bots.change_ccode %}<li><a href="/admin/bots/ccode/" >User Codes list</a></li>{% endif %}
		{% if perms.bots.change_ccodetrigger %}<li><a href="/admin/bots/ccodetrigger/" >User Code types</a></li>{% endif %}
	</ul>
	{% endif %}
	{% if user.is_superuser %}
	<ul>
		<a>SysTasks</a>
		<li><a href="/plugin/" >Read plugin</a></li>
		<li><a href="/plugout/" >Make plugin</a></li>
		<li><a href="/plugout/backup" >Make backup plugin</a></li>
		<li><hr/></li>
		<li><a href="/plugin/index" >Read configuration index</a></li>
		<li><a href="/plugout/index" >Make configuration index</a></li>
		<li><hr/></li>
		<li><a href="/delete/" >Bulk delete</a></li>
		<li><hr/></li>
		<li><a href="/admin/auth/user/" >Users</a></li>
		<li><a href="/admin/auth/group/" >UserGroups</a></li>
		<li><hr/></li>
		<li><a href="/admin/bots/uniek/" >View/edit counters</a></li>
		<li><a href="/sendtestmail/">Send test report</a></li>
		<li><a href="/logfiler/" target="_blank">View logfiles</a></li>
	</ul>
	{% endif %}
	{% if perms.bots.change_mutex %} <!-- change mutex permission is required to run bots-engine! -->
	<ul>
		<a>Run</a>
		<li><a href="/runengine/?clparameter=--new" >Run (only new)</a></li>
		<li><hr/></li>
		<li><a href="/runengine/?clparameter=--rereceive" >Run user-indicated rereceives</a></li>
		<li><a href="/runengine/?clparameter=--resend" >Run user-indicated resends</a></li>
		{% if menu_automaticretrycommunication %}
			<li><a href="/runengine/?clparameter=--automaticretrycommunication" >Retry failed out-communications</a></li>
		{% endif %}
		{% if menu_cleanup %}
			<li><a href="/runengine/?clparameter=--cleanup" >Run cleanup</a></li>
		{% endif %}
		{% if menu_all_routes %}
			<li><hr/></li>
			{% for route in menu_all_routes %}
				<li><a href="/runengine/?clparameter={{ route|urlencode:'' }}" >{{ route }}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
	{% endif %}
	{% if custom_menus %}
	<ul>
		<a>{{ custom_menuname }}</a>
		{% for key,value in custom_menus %}
			{% ifequal '---' value %}
				<li><hr/></li>
			{% else %}
				<li><a href="{{ value }}" >{{ key }}</a></li>
			{% endifequal %}
		{% endfor %}
	</ul>
	{% endif %}

{% else %}
	<ul>
		<a href="/login/">Log in</a>
	</ul>
{% endif %}
		<noscript>*****Javascript is not enabled. Bots works better with javascript*****</noscript>
</div>
